* {
  box-sizing: border-box;;
}

.box {
  display: block;
  background-color: green;
  width: 200px;
  height: 200px;
  border: black solid 2px;
}

.box p {
  background-color: purple;
  width: 100%;
  height: 20px;
  display: none;
}

.floating {
  position: absolute;
  left: 200px;
  top: 200px;
}
.alert {
  display: none;
}
